.row {
  .logout {
    p-menu {
      display: flex;
      justify-content: end;
    }
  }
  .title {
    color: #1A1A19;
    font-size: 24px;
    margin: 20px;
  }
  .filter {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin: 1rem;
    p-inputGroup {
      max-width: 700px;
      display: flex;
      justify-content: center;
    }
  }
  .cards {
    display: grid;
    max-width: 90%;
    gap: 1rem;
    margin-bottom: 2rem;
    margin: 20px;
    p-card {
      color: #1A1A19;
    }
  }
}